.leftDiv {
    float: left;
    margin: 73px 61px 104px 50px;
}

.rightDiv {
    padding: 80px 123px 68px 439px;
    height: 400px;
    width: 400px;
}
.redLabel {
    float: left;
    color: red;
}

.leftlabel {
    float: left;
}